@{
    ViewData["Title"] = "Access Denied";
}

<header>
    <h1 class="text-danger">Access Denied</h1>
    @if (!String.IsNullOrEmpty((String)ViewData["url"]))
    {
        <p class="text-danger">You are not allow to access @ViewData["url"]</p>
    }
</header>
