@{
    ViewData["Title"] = "Confirm";
}

<h2>@ViewData["Title"].</h2>
<div>
    <p>
        Thank you for registering. Before you can log in, we want to make sure that you are the real owner of the email. Please check your inbox and spam folders for a confirmation email from us and click on the link provided.
    </p>
</div>
