@{
    ViewData["Title"] = "Administrator";
}

<h2>Administrator</h2>

<ul>
    <li><a asp-controller="Locations" asp-action="Index">Locations</a></li>
    <li><a asp-controller="Reviews" asp-action="Index">Reviews</a></li>
    <li><a asp-controller="Amenities" asp-action="Index">Amenities</a></li>
    <li><a asp-controller="Reports" asp-action="Index">Reports</a></li>
    <li><a asp-controller="ContactMessages" asp-action="Index">Messages</a></li>
    <li><a asp-controller="Account" asp-action="ManageClaims">Users</a></li>
</ul>
