@{
    ViewData["Title"] = "Moderator";
}

<h2>Moderator</h2>

<ul>
    <li><a asp-controller="Locations" asp-action="Index">Locations</a></li>
    <li><a asp-controller="Reviews" asp-action="Index">Reviews</a></li>
    <li><a asp-controller="Amenities" asp-action="Index">Amenities</a></li>
    <li><a asp-controller="Reports" asp-action="Index">Reports</a></li>
</ul>

