@model float
@if (Model >= 0)
{
    <span title="Score: @Model.ToString("0.00")">
        @for (int i = 0; i < 5; i++)
        {
            if (Model - i >= 1)
            {
                <i class="fa fa-star" aria-hidden="true"></i>
            }
            else if (Model - i > 0)
            {
                if (Model - i < .3)
                {
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                }
                else if (Model - i > .8)
                {
                    <i class="fa fa-star" aria-hidden="true"></i>
                }
                else
                {
                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                }
            }
            else
            {
                <i class="fa fa-star-o" aria-hidden="true"></i>
            }
        }
    </span>
}
else
{
    <span title = "No score available" >
        <i class="fa fa-star-o" aria-hidden="true" style="color: grey"></i>
        <i class="fa fa-star-o" aria-hidden="true" style="color: grey"></i>
        <i class="fa fa-star-o" aria-hidden="true" style="color: grey"></i>
        <i class="fa fa-star-o" aria-hidden="true" style="color: grey"></i>
        <i class="fa fa-star-o" aria-hidden="true" style="color: grey"></i>
    </span>
}