@model Report

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Report</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Comment" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Comment" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CreatedDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Reason" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Reason" class="form-control" />
                <span asp-validation-for="Reason" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TargetId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TargetId" class="form-control" />
                <span asp-validation-for="TargetId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Type" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Type" class="form-control"></select>
                <span asp-validation-for="Type" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
